<div class="sidebar">
    <h2>Hostel Admin</h2>
    <a href="/dashboard">Dashboard</a>
    <a href="/students">Students</a>
    <a href="/add_student">Add Student</a>
    <a href="/rooms">Rooms</a>
    <a href="/add_room">Add Room</a>
    <a href="/expenses">Expenses</a>
    <a href="/add_expense">Add Expense</a>
   <a href="/allocate">Allocate Room</a>
<a href="/allocations">Allocations</a>
<a href="/add_rent">Add Rent</a>
<a href="/rents">Rent Records</a>



  
   <a href="/logout" style="color:#db1717;">Logout</a>
</div>
